<div style="display: flex;" class="table-responsive" >
    <div>
        <table style="border-collapse: collapse; height: 35px;" ng-style="{'color':config.TextColor,'font-size':config.textSize,'width': config.assetColWidth, 'height':config.cellHeight}">
            <tr>               
                <td id="asset"></td>           
            </tr>
        </table>
    </div>
    <div style="display: flex;">

        <table ng-repeat="stream in records[0]"  style="border-collapse: collapse; height: 35px;" ng-style="{'color':config.TextColor, 'width': config.attributeColWidth,'font-size':config.textSize, 'height':config.cellHeight}">
            <tr>             
                <td id="attributeName">{{stream.FriendlyName}}</td>          
            </tr>
        </table>
    </div>
    <!-- <div>
        <table  style="border-collapse: collapse; height: 35px;" ng-style="{'color':config.TextColor}">
            <tr>               
                <td id="select">Select</td>           
            </tr>
        </table>
    </div> -->
</div>

<div style="max-width: 1000;">
    <div ng-repeat="streams in records" >
        <div style="display: flex;">
             <div style="display: flex;">
                 
                 <table  class="table-responsive" style="border-collapse: collapse; height: 35px;" ng-style="{'color':config.TextColor, 'width': config.assetColWidth,'font-size':config.textSize, 'height':config.cellHeight}">
                     <tr>
                         <td id="elementName" ng-style="{'text-align': config.textAlign}">{{streams[0].Element}}</td>             
                     </tr>
                 </table>
             </div>
             <div style="display: flex;">
     
                 <table ng-repeat="stream in streams"  style="border-collapse: collapse; height: 35px;" ng-style="{'color':config.TextColor, 'width': config.attributeColWidth,'font-size':config.textSize, 'height':config.cellHeight}">
                     <tr>
                         
                         <td id="currentValue">{{stream.CurrentValue}} {{stream.UOM}}</td>
                         
                         <td id="newValue">
                             <input ng-if="!stream.IsEnumerationType" type="{{stream.Type}}" ng-model="stream.Value" ng-style="{'width': config.valColWidth, 'max-width': '90px'}" />
                             <select ng-if="stream.IsEnumerationType" ng-options="option.Name for option in stream.EnumerationOptions track by option.Id" ng-model="stream.Value" ng-style="{'width': config.valColWidth, 'max-width': '90px'}"></select>
                         </td>
                     </tr>
                 </table>
             </div>
             <!-- <div>
                 <table  style="border-collapse: collapse; height: 35px;" ng-style="{'color':config.TextColor}">
                     <tr>               
                         <td id="checkbox"><input type="checkbox"  ng-model="runtimeData.streamList.IsSelected" ng-change="toggleStreamSelection2()"/></td>        
                     </tr>
                 </table>
             </div> -->
        </div>
     </div>

    <div>
        <button ng-click="sendValues()" ng-disabled="!isBtnEnabled" ng-style="{ 'background-color': config.bgColor,
        'color': config.ButtonTextColor,
        'font-size':config.textSize,       
        'width': config.btnWidth, 
        'height': config.btnHeight, 
        'text-shadow': '0 -1px 0 rgba(0,0,0,.25)',
        'margin-left': 'auto',
        'margin-top':'5px',
        'border': '1px solid rgba(230,231,232,.55)',
        'opacity': isBtnEnabled ? '1' : '0.65'}">
    <img src="Scripts/app/editor/symbols/ext/Icons/loading.gif" ng-show="loading" />
    {{config.btnText}}
    </button>
    </div>
   =

</div>








