<!-- <div class="table-responsive"> 
	<table  class="table">
		<thead ng-style="{'color':config.TextColor}">
		  <tr >
			<th ng-show="config.showFriendlyAttName"><b>Name</b></th>
			 <th ng-show="config.showAttribute" ><b>Attribute</b></th>
			 <th ng-show="config.showTimestamp"><b>Timestamp</b></th>
			 <th><b>Enter Value</b></th>
			 <th ng-show="config.showCurrentValue"><b>Current Value</b></th>
			 <th><b>Select All  </b><input type="checkbox" style="vertical-align: middle;" ng-model="isAllSelected" ng-change="toggleAll(runtimeData.streamList)"/></th>
		  </tr>
		</thead>
		<tbody ng-style="{'color':config.TextColor}">
			<tr ng-repeat="stream in runtimeData.streamList" >
				<td ng-show="config.showFriendlyAttName" style="text-align: left; vertical-align: middle;"><input type="text" ng-style="{'color':config.TextColor}" style="background-color:transparent; border-color:transparent" ng-model="config.streamFriendlyNames[$index]"/></td>
				<td ng-show="config.showAttribute" style="text-align: left; vertical-align: middle;">{{stream.Label}}</td>
				<td style="vertical-align: middle;" ng-show="config.showTimestamp" ><input type="text" ng-model="stream.Timestamp"/></td>
				<td style="vertical-align: middle;">
					<input ng-if="!stream.IsEnumerationType" type="{{stream.Type}}" ng-model="stream.Value" ng-style="{'width': config.valColWidth, 'max-width': '300px'}" />
					<select ng-if="stream.IsEnumerationType" ng-options="option.Name for option in stream.EnumerationOptions track by option.Id" ng-model="stream.Value" ng-style="{'width': config.valColWidth, 'max-width': '300px'}"></select>
				</td>
				<td ng-show="config.showCurrentValue" style="text-align: left; vertical-align: middle;">{{stream.CurrentValue}} {{stream.UOM}}</td>
				<td style="vertical-align: middle;"><input type="checkbox"  ng-model="stream.IsSelected" ng-change="toggleStreamSelection()"/></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="table-responsive" style="display: flex;flex-direction: row; box-sizing: border-box;">
    <div class="table-responsive" style="float: left;display: table;">
        <table class="table" ng-style="{'color':config.TextColor}">
            <tr>
                <td style="border: 1px solid">Asset</td>
            </tr>
            <tr>
                <td style="border: 1px solid">{{runtimeData.streamList[0].Element}}</td>
            </tr>
        </table>
    </div>
    <div class="table-responsive" style="display: table;" ng-repeat="stream in runtimeData.streamList">
        <table class="table" ng-style="{'color':config.TextColor}">
            <tr style="border: 1px solid">
            <td colspan="2" style="border: 1px solid; text-align: center;text-align: center; vertical-align: middle;">{{stream.Label}}</td>
            </tr>
            <tr style="border: 1px solid">
            <td style="border: 1px solid;text-align: left; vertical-align: middle;">{{stream.CurrentValue}} {{stream.UOM}}</td>
            <td style="vertical-align: middle;">
				<input ng-if="!stream.IsEnumerationType" type="{{stream.Type}}" ng-model="stream.Value" ng-style="{'width': config.valColWidth, 'max-width': '300px'}" />
				<select ng-if="stream.IsEnumerationType" ng-options="option.Name for option in stream.EnumerationOptions track by option.Id" ng-model="stream.Value" ng-style="{'width': config.valColWidth, 'max-width': '300px'}"></select>
			</td>
            </tr>
        </table>
    </div> 
	<div class="table-responsive" style="float: right;display: table;">
        <table class="table" ng-style="{'color':config.TextColor}">
            <tr>
                <td style="border: 1px solid;text-align: left; vertical-align: middle;">Select</td>
            </tr>
            <tr>
                <td style="vertical-align: middle;"><input type="checkbox"  ng-model="runtimeData.streamList.IsSelected" ng-change="toggleStreamSelection2()"/></td>
            </tr>
        </table>
    </div> 
</div> -->


<div style="display: flex;" class="table-responsive" >
    <div>
        <table style="border-collapse: collapse; height: 35px;" ng-style="{'color':config.TextColor}">
            <tr>               
                <td id="asset"></td>           
            </tr>
        </table>
    </div>
    <div style="display: flex;">

        <table ng-repeat="stream in records[0]"  style="border-collapse: collapse; height: 35px;" ng-style="{'color':config.TextColor}">
            <tr>             
                <td id="attributeName">{{stream.FriendlyName}}</td>          
            </tr>
        </table>
    </div>
    <div>
        <table  style="border-collapse: collapse; height: 35px;" ng-style="{'color':config.TextColor}">
            <tr>               
                <td id="select">Select</td>           
            </tr>
        </table>
    </div>
</div>

<div ng-repeat="streams in records" >
   <div style="display: flex;">
        <div style="display: flex;">
            
            <table  class="table-responsive" style="border-collapse: collapse; height: 35px;" ng-style="{'color':config.TextColor}">
                <tr>
                    <td id="elementName">{{streams[0].Element}}</td>             
                </tr>
            </table>
        </div>
        <div style="display: flex;">

            <table ng-repeat="stream in streams"  style="border-collapse: collapse; height: 35px;" ng-style="{'color':config.TextColor}">
                <tr>
                    
                    <td id="currentValue">{{stream.CurrentValue}} {{stream.UOM}}</td>
                    
					<td id="newValue">
						<input ng-if="!stream.IsEnumerationType" type="{{stream.Type}}" ng-model="stream.Value" ng-style="{'width': config.valColWidth, 'max-width': '90px'}" />
						<select ng-if="stream.IsEnumerationType" ng-options="option.Name for option in stream.EnumerationOptions track by option.Id" ng-model="stream.Value" ng-style="{'width': config.valColWidth, 'max-width': '90px'}"></select>
					</td>
                </tr>
            </table>
        </div>
        <div>
            <table  style="border-collapse: collapse; height: 35px;" ng-style="{'color':config.TextColor}">
                <tr>               
                    <td id="checkbox"><input type="checkbox"  ng-model="runtimeData.streamList.IsSelected" ng-change="toggleStreamSelection2()"/></td>        
                </tr>
            </table>
        </div>
   </div>
</div>






<button ng-click="sendValues()" ng-disabled="!isBtnEnabled" ng-style="{ 'background-color': config.bgColor,
																			    'color': config.ButtonTextColor,
																				'width': config.btnWidth, 
																				'height': config.btnHeight, 
																				'text-shadow': '0 -1px 0 rgba(0,0,0,.25)',
																				'margin-left': 'auto',
                                                                                'margin-top':'5px',
																				'border': '1px solid rgba(230,231,232,.55)',
																				'opacity': isBtnEnabled ? '1' : '0.65'}">
<img src="Scripts/app/editor/symbols/ext/Icons/loading.gif" ng-show="loading" />
{{config.btnText}}
</button>
